@font-face {
    font-family: sinama;
    src: url(/font/Cinema\ Font\ \(\ www.rezagraphic.ir\ \).ttf);
}
body{
    background-image: url(/assets/images/body_back4.jpg);
}

*{
   font-family: sinama , monospace;
    direction: rtl;
    text-align: right;
}


nav .brand-logo{
    width: 200px;
    margin-top: 0.8rem;
}

nav .brand-logo img{
    width: 100%;
    filter: drop-shadow(0 0 1px white);
    transition: all 200ms ease;
}

nav .brand-logo img:hover{
    filter: drop-shadow( 3px 3px 5px #f8bbd0);
}

.styleItemMenu::after{
    content: "";
    width: 100%;
    height: 3px;
    position: relative;
    bottom: 10px;
    display: block;
    background: #f8bbd0;
    border-radius: 10px;
    transform: scaleX(0);
    transition: all 300ms ease;
}

.styleItemMenu:hover::after{
    transform: scaleX(1);
}

.styleItemMenu.active::after{
    content: "";
    width: 100%;
    height: 3px;
    position: relative;
    bottom: 10px;
    display: block;
    background: #f8bbd0;
    border-radius: 10px;
    transform: scaleX(1);
}

.navbar_ul{
    display: flex;
    position: relative;
    right: 230px !important;
}

#mobile-demo{
    background-image:url(/assets/images/fr13631701.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mobile-demo li a{
    color: white;
    transition: all 200ms ease;
    font-size: 15px;
}

#mobile-demo li:hover{
    background-color: antiquewhite;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 300ms ease;
}

#mobile-demo li:hover a{
    color: black;
    font-size: 17px;
}

.nav-svg{
    position: fixed;
    top: 10px;
    pointer-events: none !important;
}

.top_carousel{
    height: calc(100vh - 64px) !important;
}

.top_carousel a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_carousel a img{
    width: unset !important;
    min-width:100% !important;
    min-height: 100% !important;
}

.top-text{
    width: 60%;
    height: auto;
    padding: 10px 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 1rem;
    transform: scale(0.5);
    transition: all 300ms ease;
}

.top-text.isShow{
    transform: scaleX(1);
    font-size: 1.5rem;
}

.K_100{
    padding: 10px;
    text-align: center;
    border: 4px solid #ad1457;
    display: inline-block;
    border-radius: 7px;
}

.my_1{
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.d_flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_2{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.subtitle{
    border: 4px solid #ad1457;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.d_flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_block{
    display: block !important;
}



